@import '../../variables.scss';

#menu-container {
  .content-container {
    h1 {
      text-align: center;
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 1rem;
      padding: 10px;

      .card {
        border-left: 10px solid transparent;
        border-radius: 6px;
        box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.5);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex: 1;

        img {
          width: 200px;
          height: 200px;
          border-radius: 3px;
          object-fit: cover;
          align-self: center;
        }

        > div {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          span:last-of-type {
            margin-left: 8px;
          }
        }

        .name-container span:last-of-type {
          font-style: italic;
          font-size: 0.95rem;
        }

        .pr-container span:last-of-type {
          display: flex;
          gap: 1px;
        }

        > p {
          font-style: italic;
          text-align: justify;
        }
      }
    }
  }
}

#light #menu-container .content-container .card-container {
  .card {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .card:nth-of-type(4n + 0) {
    border-color: $lt-blue;
  }
  .card:nth-of-type(4n + 1) {
    border-color: $lt-green;
  }
  .card:nth-of-type(4n + 2) {
    border-color: $lt-pink;
  }
  .card:nth-of-type(4n + 3) {
    border-color: $lt-purple;
  }
}

#dark #menu-container .content-container .card-container {
  .card {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .card:nth-of-type(4n + 0) {
    border-color: $dk-blue;
  }
  .card:nth-of-type(4n + 1) {
    border-color: $dk-green;
  }
  .card:nth-of-type(4n + 2) {
    border-color: $dk-purple;
  }
  .card:nth-of-type(4n + 3) {
    border-color: $dk-pink;
  }
}
