@import '../../variables.scss';

#orders-container {
  .content-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;

    .card {
      border-radius: 6px;
      padding: 5px;
      margin: 0 5px;
      box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.5);
      height: 8%;
      transition: height 2000ms ease-in;

      &:hover {
        height: 150%;

        .additional {
          visibility: visible;
          opacity: 1;
        }
      }

      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
          cursor: pointer;
        }
      }

      .additional {
        visibility: hidden;
        opacity: 0;
        transition: 1500ms ease-in;
        display: flex;
        flex-direction: column;
        gap: 6px;

        img {
          height: 80px;
          width: 80px;
          object-fit: cover;
        }

        span {
          width: 40px;
        }

        span:first-of-type {
          flex: 1;
          margin-left: 1rem;
        }

        span:last-of-type {
          text-align: end;
        }
      }
    }
  }

  .page-navigation {
    display: flex;
    justify-content: end;
    gap: 5px;

    button {
      cursor: pointer;
      outline: none;
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: 2px;
      background: none;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

      svg {
        width: 100%;
      }

      &:disabled {
        opacity: 0.2;
      }
    }
  }
}

#light {
  #orders-container {
    .content-container .card {
      border: 1px dotted $off-black;
    }

    .page-navigation button {
      border: 1px solid rgba(0, 0, 0, 0.4);
    }
  }
}

#dark {
  #orders-container {
    .content-container .card {
      border: 1px dotted $off-white;
    }
    .page-navigation button {
      border: 1px solid rgba(255, 255, 255, 0.4);
    }
  }
}

@media only screen and (orientation: portrait) {
  #orders-container .content-container .card {
    height: 15%;
  }
}
