@import '../../variables.scss';

#statistics-container {
  #graph-select {
    position: fixed;
    right: 2.5rem;
    font-size: 1rem;
    padding: 2px 10px;
    max-width: calc(100% - 248px);
  }

  .content-container .graph-container {
    width: 100%;
    height: 100%;
    border-radius: 6px;

    h1 {
      font-size: 1.25rem;
    }
  }
}

.App #page-container main #statistics-container .content-container {
  overflow: hidden;
}

#light #statistics-container #graph-select {
  background-color: $off-white;
}

#dark #statistics-container #graph-select {
  background-color: $off-black;
}
