@import '../../variables.scss';

#statistics-container {
  #graph-select {
    position: fixed;
    right: 2.5rem;
    font-size: 1rem;
    padding: 2px 10px;
    max-width: calc(100% - 200px - 32px - 16px);
  }

  .content-container {
    overflow-x: hidden;

    .graph-container {
      width: 100%;
      height: 100%;
      border-radius: 6px;

      h1 {
        font-size: 1.25rem;
      }
    }

    hr {
      margin: 1rem 0 3rem;
    }
  }
}

#light #statistics-container #graph-select {
  background-color: $off-white;
}

#dark #statistics-container #graph-select {
  background-color: $off-black;
}
