@import '../../variables.scss';

#overview-container {
  .content-container {
    #iof-container,
    #opdw-container,
    #oph-container {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-bottom: 1rem;

      .card-container {
        display: flex;
        flex-direction: column;
        text-align: end;
        justify-content: space-between;
        padding: 10px;
        width: 160px;
        max-width: 45%;
        aspect-ratio: 1/ 1;
        border-left: 5px solid transparent;
        border-top: 2px solid transparent;
        border-radius: 6px;
        box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.5);

        span:first-of-type {
          text-align: start;
          font-size: 1.1rem;
          font-weight: bold;
        }
        span:nth-of-type(2) {
          font-size: 1.25rem;
        }
      }
    }
  }
}

#light #overview-container .content-container {
  .card-container {
    background-color: rgba(255, 255, 255, 0.2);
  }

  #iof-container,
  #oph-container {
    .card-container:nth-of-type(4n + 0) {
      border-color: $lt-blue;

      span:first-of-type {
        color: $dk-blue;
      }
    }
    .card-container:nth-of-type(4n + 1) {
      border-color: $lt-green;

      span:first-of-type {
        color: $dk-green;
      }
    }
    .card-container:nth-of-type(4n + 2) {
      border-color: $lt-pink;

      span:first-of-type {
        color: $dk-pink;
      }
    }
    .card-container:nth-of-type(4n + 3) {
      border-color: $lt-purple;

      span:first-of-type {
        color: $dk-purple;
      }
    }
  }

  #opdw-container {
    .card-container:first-of-type {
      border-color: $lt-purple;

      span:first-of-type {
        color: $dk-purple;
      }
    }
    .card-container:last-of-type {
      border-color: $lt-blue;

      span:first-of-type {
        color: $dk-blue;
      }
    }
  }
}

#dark #overview-container .content-container {
  .card-container {
    background-color: rgba(255, 255, 255, 0.03);
  }

  #iof-container,
  #oph-container {
    .card-container:nth-of-type(4n + 0) {
      border-color: $dk-blue;

      span:first-of-type {
        color: $lt-blue;
      }
    }
    .card-container:nth-of-type(4n + 1) {
      border-color: $dk-green;

      span:first-of-type {
        color: $lt-green;
      }
    }
    .card-container:nth-of-type(4n + 2) {
      border-color: $dk-purple;

      span:first-of-type {
        color: $lt-purple;
      }
    }
    .card-container:nth-of-type(4n + 3) {
      border-color: $dk-pink;

      span:first-of-type {
        color: $lt-pink;
      }
    }
  }

  #opdw-container {
    .card-container:first-of-type {
      border-color: $dk-pink;

      span:first-of-type {
        color: $lt-pink;
      }
    }
    .card-container:last-of-type {
      border-color: $dk-blue;

      span:first-of-type {
        color: $lt-blue;
      }
    }
  }
}
