@import 'variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

html,
body,
#root,
.App,
#page-container {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 5rem;

  #page-container {
    border-radius: 18px;
    backdrop-filter: blur(10px);
    display: flex;
  }
}

#light {
  background: linear-gradient(125deg, $lt-green, $lt-pink, $lt-blue);

  #page-container {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

#dark {
  background: linear-gradient(125deg, $dk-blue, $dk-turqoise, $dk-ocean);

  #page-container {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
