@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$main-font: 'Roboto Condensed', sans-serif;

$off-black: #1f232c;
$off-white: #f5f5f5;
$navy: #2a3439;
$brown: #83746e;
$taupe: #dfd6d1;

$lt-green: #caefd7;
$lt-pink: #f5bfd7;
$lt-blue: #abc9e9;
$lt-purple: #be98d3;

$dk-blue: #08203e;
$dk-purple: #27143f;
$dk-green: #11473c;
$dk-pink: #710c30;
