@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$main-font: 'Roboto Condensed', sans-serif;

$off-black: #242526;
$off-white: #cfc9c1;
$navy: #2a3439;
$brown: #615a54;
$tan: #b49969;

$lt-green: #caefd7;
$lt-pink: #f5bfd7;
$lt-blue: #abc9e9;

$dk-ocean: #0f2027;
$dk-turqoise: #203a43;
$dk-blue: #2c5364;
